5.3.1/studio/Talend-Studio-r104014-V5.3.1/workspace/ESB_TRAINING/services/EchoDataService_0.1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="EchoDataService"
		xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
		xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		xmlns:tns="http://www.talend.org/service/"
		targetNamespace="http://www.talend.org/service/">

	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.talend.org/service/">
			<xsd:element name="EchoDataServiceOperationRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="in" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="EchoDataServiceOperationResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="EchoDataServiceOperationRequest">
		<wsdl:part name="parameters" element="tns:EchoDataServiceOperationRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="EchoDataServiceOperationResponse">
		<wsdl:part name="parameters" element="tns:EchoDataServiceOperationResponse"></wsdl:part>
	</wsdl:message>

	<wsdl:portType name="EchoDataServicePortType">
		<wsdl:operation name="EchoDataServiceOperation">
			<wsdl:input message="tns:EchoDataServiceOperationRequest"></wsdl:input>
			<wsdl:output message="tns:EchoDataServiceOperationResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="EchoDataServiceBinding" type="tns:EchoDataServicePortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="EchoDataServiceOperation">
			<soap:operation soapAction="http://www.talend.org/service/EchoDataServiceOperation" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="EchoDataService">
		<wsdl:port name="EchoDataServicePort" binding="tns:EchoDataServiceBinding">
			<soap:address location="http://localhost:8090/services/EchoDataService" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>